* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.generate-btn {
    width: 260px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: #fff;
    margin-top: 10px;
}

.qrText {
    width: 260px;
    height: 40px;
    outline: none;
    /* border: none; */
}

.imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.imgBox img {
    width: 100%;
}

.imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}